@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100, 300, 400, 500, 600, 700, 800, 900&display=swap');
 
/* font-family: 'Big Shoulders Text', cursive; */
 
.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
}
 
.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}
 
.nav-flex-row li a {
    font-family: 'Big Shoulders Text', cursive;
    color: #000;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}
.nav-flex-row li a:hover{
    background: #e7e7e7;
}
 
.section-intro {
    height: 820px;
    background-image: url(pic7.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.section-intro h1 {
    text-align: center;
    color: #000;
    font-size: 4em;
    font-weight: 700;
}
 
.section-intro header {
    display: flex;
    flex: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
 
.link-to-book-wrapper {
    flex: 1;
}
 
.about-section {
    display: flex;
    align-items: center;
    background-color: #f3f3f3c0;
    padding: 50px 30px;
}
 
.link-to-book {
    color: #ffffff;
    display: block;
    border: 2px solid #ffffff;
    padding: 5px 10px;
}
 
a.link-to-book:hover {
    background-color: #ffffff;
    color: #959e95;
    text-decoration: none;
}
 
.about-section p,
.about-section h3 {
    text-align: center;
    width: 60%;
    margin: auto;
    font-family: 'Big Shoulders Text', cursive;
    font-size: 1.8em;
    text-transform: uppercase;
}
 
.carousel-inner {
    height: 700px;
}
 
.row-flex {
    display: flex;
    flex-direction: row;
}
 
.flex-column-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 30px 20px;
}
 
.btn.btn-primary {
    font-family: 'Big Shoulders Text', cursive;
    color: #ffffff;
    background-color: #95999e;
    text-transform: uppercase;
    font-size: 16px;
    padding: 5px 10px;
    letter-spacing: 2px;
    border: 0;
}
 

 

 

 

#gallery {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  #gallery .col-md-4 {
    padding-top: 52px;
  }
  #gallery img {
    width: 100%;
    padding-bottom: 18px;
  }
  #gallery .col-md-4 div {
    position: relative;
    bottom: 18px;
    padding-bottom: 12px;
  }
  #gallery h3 {
    font-size: 18px;
    line-height: 8px;
  }


  /* menu section */
#menu h4 {
	line-height: 1.5;
}
#menu .col-md-8 {
  padding-bottom: 42px;
}
#menu .col-md-6 {
  padding-bottom: 18px;
}
#menu span {
  color: #5C5C5C;
}





 


 


   /* contact section */
#contact {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  #contact .col-md-8 {
    margin-bottom: 32px;
  }
  #contact .form-control {
    background: #dbd6d6;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
  }
  #contact .form-control:focus {
    border-color: #0f0d0d;
  }
  #contact input {
    height: 48px;
  }
  #contact input[type="submit"] {
    background: transparent;
    border: 2px solid #999;
    border-radius: 10px;
    letter-spacing: 2px;
    margin-top: 12px;
    height: 50px;
  }
  #contact input[type="submit"]:hover {
    background: #999;
    color: #161414;
  }


   /* footer section */
footer {
    background: url('..pic10.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    color: #000000;
    padding-top: 80px;
    padding-bottom: 80px;
  }
  footer h2 {
    padding-bottom: 14px;
  }
  footer h3 {
    padding-top: 80px;
  }
  footer p {
    color: #0e0d0d;
  }
  footer span {
    font-weight: bold;
    padding-left: 24px;
  }
  footer .ph, footer .address {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  footer .fa {
    font-size: 12px;
    padding-right: 10px;
  }

  

  /* social icon */
.social-icon {
    padding: 0;
  }
  .social-icon li {
    list-style: circle;
    display: inline-block;
    padding: 0;
  }


  .social-icon li a {
    background: #030303;
    border-radius: 50%;
    color: #5C5C5C;
    font-size: 16px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    text-decoration: wavy;
    transition: all 0.4s ease-in-out;
    margin-top: 12px;
    margin-right: 16px;
    top: 0;
    position: relative;
    padding: 0;
  }
  .social-icon li a:hover {
    background: #F6D76B;
    top: 5px;
  }

  /* copyright section */
#copyright {
    background: #0c0c0c;
    color: #ffffff;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
  }
  #copyright p {
    color: #242222;
  }
  #copyright a {
    color: #ffffff;
  }
  #copyright a:hover {
    color: #FF0;
  }